@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");
.main {
  background-image: url("/images/blur-meduse.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.loginCard {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);

  width: 300px;

  @media (min-width: "768px") {
    width: 550px;
    height: 550px;
  }

  background-color: #202020ad;
  color: #fff;

  padding: 50px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  height: 50px;
  width: 50px;
}

.title {
  font-family: "Rancho", cursive;
  font-size: 30px;
  line-height: 36px;
  color: #ffd100;
}

.button {
  color: #000;
  display: block;
  padding: 10px 0;
  background-color: #ffd100;
  width: 100%;
  border-radius: 6px;
}
